In [ ]:
import pandas as pd

Task 1

In [ ]:
## creating a dictionary
data = {
    'Name': ['Alice', 'John', 'Emma', 'Liam', 'Sophia', 'Noah', 'Olivia', 'James', 'Mia', 'Ethan'],
    'Age': [28, 35, 22, 29, 31, 27, 24, 40, 26, 33],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'],
    'Education': ['MSc', 'PhD', 'BSc', 'MBA', 'MD', 'BEng', 'BA', 'PhD', 'BBA', 'MS'],
    'Occupation': ['Engineer', 'Professor', 'Student', 'Manager', 'Doctor', 'Engineer', 'Designer', 'Scientist', 'Manager', 'Analyst'],
}

##convert the dictionary to dataframe (df)
df = pd.DataFrame(data)

In [ ]:
df

     Name  Age  Gender Education Occupation
0   Alice   28  Female       MSc   Engineer
1    John   35    Male       PhD  Professor
2    Emma   22  Female       BSc    Student
3    Liam   29    Male       MBA    Manager
4  Sophia   31  Female        MD     Doctor
5    Noah   27    Male      BEng   Engineer
6  Olivia   24  Female        BA   Designer
7   James   40    Male       PhD  Scientist
8     Mia   26  Female       BBA    Manager
9   Ethan   33    Male        MS    Analyst

Task 2

In [ ]:
df.info() ##check the info of df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         10 non-null     int64
 2   Gender      10 non-null     object
 3   Education   10 non-null     object
 4   Occupation  10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

Task 3

In [ ]:
df.describe() ##check the description of df

             Age
count  10.000000
mean   29.500000
std     5.400617
min    22.000000
25%    26.250000
50%    28.500000
75%    32.500000
max    40.000000

Task 4

In [ ]:
df.loc[4] ##check the value at index 4 using 'loc' slicing operator

Name          Sophia
Age               31
Gender        Female
Education         MD
Occupation    Doctor
Name: 4, dtype: object

Task 5

In [ ]:
df.isnull().any() ##check for any null value

Name          False
Age           False
Gender        False
Education     False
Occupation    False
dtype: bool

In [ ]:
df.isnull().sum()

Name          0
Age           0
Gender        0
Education     0
Occupation    0
dtype: int64